#userInfo {
  margin: 90px auto;
  padding: 30px;
  background-color: #2e1d17;
  border-radius: 20px;
  max-width: 1100px;
  color: #efebe9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allprofile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

#userInfoContent {
  background-image: url(./assets/gif/cm1.gif);
  border-radius: 20px;
  padding: 30px;
  height: 400px;
}

#userInfoContent h2 {
  font-size: 28px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#userDetails span {
  font-size: 40px;
  font-weight: 700;
}

#userDetails {
  background-color: #543b31;
  border-radius: 20px;
  padding: 30px;
}

#userDetails .detail-row {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#userDetails label {
  flex: 1;
  color: #ffccbc;
}

#userDetails span {
  flex: 2;
  padding: 8px 10px;
  background-color: #4e342e;
  color: #ffebee;
  border-radius: 5px;
  font-size: 16px;
}

.edit-btn {
  background: none;
  color: #ffe0b2;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  font-weight: bold;
}

.edit-btn:hover {
  color: #bcaaa4;
}

.profile-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #bcaaa4;
  object-fit: cover;
  margin-bottom: 15px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.profile-icon:hover {
  transform: scale(1.1);
}

#userDetails label {
  display: block;
  color: #ffccbc;
  margin-top: 15px;
}

#userDetails input {
  padding: 8px;
  width: 250px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 16px;
  background-color: #4e342e;
  color: #ffebee;
}

#togglePassword {
  background: none;
  color: #bcaaa4;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 500;
  margin-left: 10px;
}

#togglePassword:hover {
  color: #ffe0b2;
}

#saveChangesBtn,
#logoutBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a1887f;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#saveChangesBtn:hover,
#logoutBtn:hover {
  background-color: #8d6e63;
}

#logoutBtn {
  margin-top: 10px;
}
