.coffeetypes__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
}
.coffeetypes__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 20px;
}

.coffeetypes__text {
  font-size: 25px;
  font-weight: bold;
  color: #564a24;
  text-align: center;
  margin-top: 40px;
}

.coffeetypes__search {
  position: relative;
  text-align: right;
}

.coffeetypes__search input {
  padding: 12px;
  border: 2px solid var(--base-brown);
  border-radius: 8px;
  font-size: 16px;
  width: 250px;
}
.no-results {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 510;
  color: var(--cherry);
  margin-top: 40px;
}

.coffeetypes__cards {
  display: flex;
  gap: 30px;
  padding: 20px 0;
  justify-content: center;
  flex-wrap: wrap;
}

.coffeetypes__card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  background-color: var(--base-white);
  text-align: center;
  width: 300px;
  height: 400px;
}
.coffeetypes__img {
  width: 100%;
}

.coffeetypes__card .coffeetypes__content {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black-hover);
  color: var(--base-white);
  padding: 15px;
  transition: opacity 0.3s ease;
}
.coffeetypes__content h3 {
  padding-bottom: 10px;
}

.shop {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 20px;
}

.shop span {
  font-size: 24px;
  font-weight: 600;
}
.coffeetypes__card:hover .coffeetypes__content {
  opacity: 1;
}

.coffeetypes__card:hover {
  transform: scale(1.05);
}

.coffeetypes__card .coffeetypes__img img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

.pagination {
  display: flex;
  justify-content: end;
  align-items: end; 
  margin: 20px 0; 
}

.page-number {
  margin: 0 5px; 
  padding: 10px 15px; 
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.page-number:hover {
  background-color: var( --dark-brown); 
  color: white; 
}

.page-number.active {
  background-color: var(--second-dark);
  color: white;
  font-weight: bold; 
}

.filter-options {
  position: relative;
  width: 80%;
  
  margin-left: -20px;
}

.filter-button {
  background-color:var(--base-brown);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: var(--dark-brown);
}

.dropdown {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  
  margin-left: -40px;
  z-index: 1;
  display: none; 
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden; 
}

.filter-options:hover #filterDropdown {
  display: block; 
  opacity: 1;
  visibility: visible; 
}

.dropdown-button {
  background-color: transparent;
  color: #333;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  width: 100%;
  
  text-align: left;
  transition: background-color 0.3s ease;
  
}

.dropdown-button:hover {
  background-color: #e0e0e0;
}

.order__btn button {
  color: var(--base-white);
}

.nutrition__container {
  padding: 60px 50px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nutrition__title {
  text-align: center;
  margin-bottom: 60px;

}
.nutrition__title h2{
 color: var(--second-dark);
  font-size: 50px;
  text-shadow: 2px 2px 0 var(--base-brown);
}

.nutrition__table {
  width: 100%;
  border-collapse: collapse; 
}

.nutrition__table th,
.nutrition__table td {
  padding: 10px;
  text-align: left; 
}

.nutrition__table th {
  background-color: var(--base-brown);
  color: white;
}

.nutrition__table tr:nth-child(even) {
  background-color: #f2f2f2; 
}

.nutrition__table tr:hover {
  background-color: #e0e0e0; 
}
@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nutrition__table {
  animation: slideIn 0.5s ease-out forwards;

}


#customized-drink {
  padding: 50px 0;
  background-color: #f4f4f4;
}

.customize-drink-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

h2 {
  margin-bottom: 20px;
  color: #3e2a47;
  font-family: 'Arial', sans-serif;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.customization-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.option {
  background-color: #9c7b5f;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  font-size: 1.1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 150px;
}

.option:hover {
  background-color: #7e5b3c;
  transform: scale(1.05);
}

.drink-container {
  height: 250px;
  width: 300px;
  border: 2px dashed #b0977d;
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f1e4;
  text-align: center;
  border-radius: 8px;
}

#drink-customization {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px;
  background-color: #e2d9c3;
  border-radius: 5px;
  min-height: 50px;
}

#order-button {
  background-color: #b07548;
  margin-top: 30px;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#order-button:hover {
  background-color: #8c5b3b;
}

#order-summary {
  margin-top: 20px;
  font-size: 1.2em;
  color: #3e2a47;
  font-weight: bold;
}

.user-info {
  margin-top: 20px;
  text-align: left;
}

.user-info input {
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#drink-customization p {
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  background-color: #e2d9c3;
  border-radius: 5px;
}

.drink-container {
  min-height: 200px;
  max-width: 500px;
  border: 2px dashed #b0977d;
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f1e4;
  text-align: center;
  border-radius: 8px;
}

#order-modal .modal-content {
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}
#filterButton{
  padding: 10px 30px;
  border-radius: 5px;
  margin-left: -40px;
  color: white;
  border: none;
}